.container {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

.heading {
  border-bottom: 1px solid gray;
}
input {
  border: 0px solid;
  height: 100px;
  text-align: center;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.optionswrappper {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  text-align: left;
  padding: 5px;
  margin-top: 10px;
}


.btn {
  border: none;
  padding: 1px;
  display: block;
}


.btn:hover {
 background-color: #f3f4f6;
}
